/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url(reset.css);

body {
  font-family: "Poppins Medium", sans-serif;
}
.main-container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 80px 15px 80px 15px;
}
.first-cotainer {
  max-width: 816px;
  margin: 0 auto 80px;

}
.title1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color:#212529;
  line-height: 1.6; /*40/25*/
  width: 400px;
  padding-bottom: 40px;
}
.text p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.78; /*25/14*/
  color: #6C757D;
  margin-bottom: 30px ;
}

.picture-desert {
  max-width: 100%;
  margin: 80px 0 80px 0 ;
}
.title2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color:#212529;
  line-height: 1.6; /*40/25*/
  width: 605px;
  padding-bottom: 40px;
}

.picture-water {
  margin-bottom: 80px;
  font-size: 0;
  max-width: 100%;
  text-align: center;
}
.img-girl{
  padding-right: 30px;
}

.practice1 {
  border: 5px solid rgb(8, 202, 186);
  max-height: 290px;
  margin-bottom: 100px;
  overflow: hidden;
}

.practice2 {
  border: 5px solid rgb(8, 20, 13);
  overflow: scroll;
  max-height: 300px;
  margin-bottom: 100px;
}

.practice3 {
  border: 5px solid rgb(253, 0, 42);
  max-height: 300px;
  overflow: auto;
  margin-bottom: 100px;
}