/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url(reset.css);


.layout__first {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.7;
  background-image: url(../img/unsplash.png);
  background-repeat: no-repeat;
	background-position: center;
  background-size: cover;
  color: #E5E5E5;
}

.layout__mein {
  padding: 330px 0 100px;
}

.layout__conteiner {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.layout__conteiner:hover {
	text-shadow: 0px 0px 20px rgb(248, 244, 4);
}

.layout__data {
  margin-bottom: 15px;
}

.layout__title {
  max-width: 605px;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 15px;
  line-height: 1.6;
  color: #F8F9FA;
}

.layout__subtitle {
  max-width: 499px;
}

.layout__conteiner > * {
	margin-bottom: 15px;
}

.layout__conteiner > *:last-child {
	margin-bottom: 0;
}

/*список*/

.component__page {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #637381;
  background-color: #E6E6E6;
}

.component__conteiner {
  max-width: 1230px;
  margin: 0 auto 100px;
  padding: 100px 15px 0 15px;
}

.component__title {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.08;
  color: #212B36;
  margin-bottom: 45px;
}

.list-1,
.list-2,
.list-3,
.list-4,
.list-5,
.list-6 {
	max-width: 500px;
	margin-bottom: 50px;
}

.list-block ul:last-child {
	margin-bottom: 0;
}

.list-1 li,
.list-2 li,
.list-3 li,
.list-4 li,
.list-5 li,
.list-6 li {
	margin-left: 30px;
	margin-bottom: 16px;
}

.list-1 li::before {
	content: "";
	display: inline-block;
	background: url(../img/Ellipse\ 2744.png) 0 0 no-repeat;
	width: 10px;
	height: 10px;
	margin-right: 16px;
	margin-left: -26px;
	vertical-align: middle;
}

.list-1 li:hover::before {
	transform: scale(1.3);
	transition: all 0.3s;
}

.list-1 li:hover {
	transform: translateX(5px);
}

.list-2 li::before {
	content: "";
	display: inline-block;
	background: url(../img/checkmark-circle\ \(2\)\ 1.png) 0 0 no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 16px;
	margin-left: -36px;
	vertical-align: middle;
}

.list-2 li:hover::before {
	transform: rotate(700deg) scale(1.5);
	transition: all 0.5s;
}

.list-2 li:hover {
	text-shadow: 0px 0px 10px rgb(4, 220, 248);
  color: rgb(37, 27, 179);
}

.list-3 li::before {
	content: "";
	display: inline-block;
	background: url(../img/checkmark-circle\ \(2\)\ 1\ \(1\).png) 0 0 no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 16px;
	margin-left: -36px;
	vertical-align: middle;
}

.list-3 li:hover::before {
	transform: rotate(-360deg) scale(1.5);
	transition: all 0.8s;
}

.list-3 li:hover {
	text-decoration: underline;
  color: rgb(58, 153, 101);
}

.list-4 li::before {
	content: "";
	display: inline-block;
	background: url(../img/cross-circle\ \(1\)\ 1.png) 0 0 no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 16px;
	margin-left: -36px;
	vertical-align: middle;
}

.list-4 li:hover::before {
	transform: rotate(280deg) scale(1.2);
	transition: all 1.2s;
}

.list-4 li:hover {
	text-shadow: 0px 0px 10px rgb(248, 4, 4);
}

.list-5 li::before{
	content: "";
	display: inline-block;
	background: url(../img/arrow-right\ \(7\)\ 1.png) 0 0 no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 16px;
	margin-left: -36px;
	vertical-align: middle;
}

.list-5 li:hover::before {
	transform: rotate(360deg) scale(1.0);
	transition: all 0.8s;
}

.list-6 li::before {
	content: "";
	display: inline-block;
	background: url(../img/star\ \(1\)\ 1.png) 0 0 no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 16px;
	margin-left: -36px;
	vertical-align: middle;
	transition: all 0.5s;
}

.list-6 li:hover::before {
	transform: rotate(290deg) scale(1.2);
}

.slider {
  background: url(../img/speaker\ 1.png), 
  linear-gradient(115deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 62%, 
  rgba(48,86,211,0.08) 62%), linear-gradient(115deg, rgba(0,0,0,0) 0%,
  rgba(0,0,0,0) 68%, rgba(48,86,211,0.08) 68%) #f4f7ff;
  background-repeat: no-repeat;
  background-position: 75% 50%;
  padding: 145px 0;
}

.slider__conteiner {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.slider__box {
  max-width: 570px;
}

.subject {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #3056D3;
  margin-bottom: 13px;
  /*Звернення до елемента у стані "при наведенні миші"
   .slider__box:hover .subject*/
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s;
}

.slider__box:hover .subject {
  visibility: visible;
  opacity: 1;
}

.slider__title {
  max-width: 470px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  color: #212B36;
  margin-bottom: 15px;
}

.slider__subtitle {
  max-width: 570px;
  line-height: 1.5;
  margin-bottom: 35px;
}

.button {
  display: inline-block;
  background-color: #3056D3;
  border-radius: 30px;
  line-height: 1.5;
  color: #FFFFFF;
  padding: 10px 30px;
}

.button:hover {
  color: aqua;
  background-color: blueviolet;
}

.button:active {
  color: white;
  background-color: red;
}

.link_shop {
  padding: 50px;
  
}

.link {
  display: inline-block;
  text-decoration: underline;
  padding: 10px 30px;
  margin-left: 50px;
  border-radius: 30px;
}

.link:focus {
  outline: 3px solid red;
}